.navigation_list_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 1px solid $color-black;

    .navigation_list {
        min-width: -webkit-fill-available;
        display: flex;
        gap: 4rem;
        align-items: center;
        justify-content: space-evenly;
        // padding-bottom: 1.5rem;
        list-style-type: none;
        font-family: $font-primary;

        button {
            font-size: 1.6rem;
            height: 4.8rem;
            width: 9.8rem;
            cursor: pointer;
            border: none;
            text-align: center;
            font-family: $font-primary;
        }

        .btn_navigation {
            font-size: 1.6rem;
            height: 4.8rem;
            width: 9.8rem;
            cursor: pointer;
            border: none;
            text-align: center;
            font-family: $font-primary;
            // text-decoration: none;

            &_active {
                font-weight: 500;
                width: 9.8rem;
                border-radius: .2rem;
                border-bottom: 3px solid $color-light-blue;
            }
        }
    }
}
