.navigation_list_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 1px solid $color-black;

    .navigation_list {
        width: 100%;
        font-family: $font-primary;

        button {
            font-size: 1.6rem;
            height: 4.8rem;
            width: 9.8rem;
            cursor: pointer;
            border: none;
            text-align: center;
            font-family: $font-primary;
        }

        .btn_navigation {
            font-size: 1.6rem;
            height: 4.8rem;
            width: 9.8rem;
            cursor: pointer;
            border: none;
            text-align: center;
            font-family: $font-primary;
            // text-decoration: none;

            &_active {
                font-weight: 500;
                width: 9.8rem;
                border-radius: .2rem;
                border-bottom: 3px solid $color-light-blue;
            }
        }

        .navigation_data_list_w {
            display: flex;
            // grid-template-columns: 8rem 4rem 1fr;
            align-items: center;
            justify-content: space-evenly;
            -webkit-full-screen: -webkit-fill-available;
            // gap: 4rem;
        
            &::before {
                // display: block;
                background-color: #f1f1f1;;
            }

            &>input[type="radio"] {
                // display: none;
                cursor: pointer;

                &::before {
                    background-color: #f1f1f1;
                    width: 100%;
                }

                &:checked + label {
                    cursor: pointer;
                    font-weight: 500;
                    border-bottom: 2px solid $color-light-blue;
                }
            }
        
        }
        .navigation_data_list_w>label {
            cursor: pointer;
            padding-bottom: 1.5rem;
            font-family: $font-primary;
            transition: 0.6s;

        }
        // .active {
        //     border-bottom: 2px solid $color-light-blue;
        // }
    }
}
