* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth; 
}

body {
    font-family: $font-secondary;
    font-size: 1.6rem;
    background: var(--color-white);
    padding: 6.4rem 12.8rem;
    // padding-top: 6.4rem;
    height: 100vh;
    border-bottom: .8rem solid var(--color-dark-blue);

    ::selection {
        color: var(--color-gray);
        background-color: var(--color-light-blue);
    }
}

h3,h4 {
    font-family: $font-primary;
    // letter-spacing: -.03rem;
}

#root {
    max-width: 1500px;
    margin: 0 auto;
}