* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth; 
}

body {
    font-family: $font-secondary;
    font-size: 1.6rem;
    background: $color-gray;
    padding: 6.4rem 12.8rem;
}

#root {
    max-width: 1500px;
    margin: 0 auto;
}